<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JaizBank</title>
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">

    </head>
<body>
    <header>
        <div class="logo">
            <img src="/image/logo.png" alt="">
        </div>
    </header>
    <div class="container">
        
            @RenderBody()
        
    </div>

    <footer class="border-top footer text-muted">
          <div class="thanks">Thanks for using JAIZ BANK POS</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
